// -----------------------------------------------------------------------------
// This file contains all styles related to site typography
// -----------------------------------------------------------------------------

body {
  color: $font-stack-base-color;
  font: normal 125% / 1.4 $font-stack-text;
}


// Headings
.heading {
    // Global heading styles here...

    &.h1 {
        // <h1 class="heading h1"></h1>
        font: 2.8rem $font-stack-heading;
        letter-spacing: -.5rem;
    }

    // etc.
}

// Copy
.copy {
    // Global copy styles here...

    &.c1 {
        // <p class="copy c1"></p>
        font: 2.4rem/1.5em $font-stack-text;
    }

    // etc.
}
